.pageSelect {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.MuiButtonBase-root {
  color: white !important;
}
.pagination {
  width: 100vw !important;
  height: 20vh !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
